<% include ../partials/header %>

    
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap; height:500px;">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="thumbnail">
                <!--Avijit Poddar-->
              <div class="image-thumb" style="background-image: url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/36985527_1905189689501366_3764488747035394048_n.jpg?_nc_cat=0&oh=d7003538316b1546e732a4085832d830&oe=5BDFBBBE)"></div>
                  <div class="caption">
                    <h3>Founder</h3>
                    <p>Avijit Saha, the Founder of the company, worked as a supervisor at Graphite India Ltd. 
                       Initially he started the business with 10 labourers and with years of hardship, sacrifice and determination he achieved heights of success.</p>
                    <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                  </div>
            </div>
          </div>
          
           <!--Sulekha Poddar-->
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="thumbnail">
               
                <div class="image-thumb" style=" background-image:url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37085184_1905195736167428_2693274399619940352_o.jpg?_nc_cat=0&oh=0abbb516dad302800f73f442f039aa57&oe=5BE270E9)"></div>
                <div class="caption">
                        <h3>Owner</h3>
                        <p>Sulekha Saha, the Owner of the company, plays a vital role in taking decisions for the betterment and upliftment of the company. </p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                </div>
            </div>
          </div>
          
          <!--Sukalyan Poddar-->
         <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="thumbnail">
                
                 <div class="image-thumb" style="background-image:url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37022865_1905172992836369_2390333988112695296_o.jpg?_nc_cat=0&oh=4abe80c9977efd8693c18c8eb824803a&oe=5BA4318A)"></div>
                      <div class="caption">
                        <h3>CEO</h3>
                        <p>Sukalyan Saha, the CEO of the company, completed his Bachelors in Commerce from M.S. Ramaiah Institute of Technology and joined the company in 2012 after serving for an year in Fidelity Investments as an Associate _________.</p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                      </div>
                </div>
         </div>
    </div>
    
    <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    
    <div class="jumbotron" style="height:310px; background-color:transparent !important; font-family: Gill Sans, sans-serif; ">
        <div class="container" style="text-align: center;height:250px;">
            <p>We are a self made organisation. Established in 1988 at Durgapur,West Bengal. 
            Currently 310 employees work together everyday bringing success to the company.
            We mainly deal with unloading and loading of goods. 
            We run the Food canteen for the entire Graphite India Ltd. serving everyday over 600 people breakfast, lunch and dinner.
            Apart from this we have a Boys Hostel, providing shelter to 35 students. 
            This company has reached it's heights with the help of all the people working together.
            If you want to be a part of this organization, hurry up and apply.
            <br>  
            <br>  
            <!--<h1> We are Hiring!</h1></h1>-->
            <p>
                  <a class= "btn btn-primary btn-lg" style="font-size: 30px;" href="/register">Apply Now!</a>
            </p>
        </div>
    </div>
    
   <br>
   <br>
   
  

<% include ../partials/footer %>