<div id="header1">
    <% include partials/header %>
</div>


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"  content="user-scalable = no">
        <title>M/S Friends Enterprise</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        
        
    </head>
    <body>
    
    
    <!--<div class="parallax"></div>-->
    <div id="landing-header">
 		<h1 style="font-size: 90px; text-shadow: 4px 4px #1f282d; font-family:Times New Roman, Georgia, serif;">M/S Friends Enterprise</h1>
		<a href="/register" class="btn btn-lg btn-primary" style="font-size: 40px; padding: 15px 32px; border-radius: 22px;"> Apply now!</a>
    </div>
    <!--<div class="parallax"></div>-->
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
<div class="navbar-fixed-bottom"> 
         Footer 
    <footer class="page-footer font-small pt-4" style="background-color: #F8F8F8;">
    
        <div style="background-color: #1f282d;">
          <div class="container" >
    
            <!-- Grid row-->
            <!--<div class="row py-4 d-flex align-items-center">-->
    
            <!--   Grid column -->
            <!--  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">-->
            <!--    <h6 class="mb-0">Get connected with us on social networks!</h6>-->
            <!--  </div>-->
            <!--   Grid column -->
    
            <!--   Grid column -->
            <!--  <div class="col-md-6 col-lg-7 text-center text-md-right">-->
    
            <!--     Facebook -->
            <!--    <a class="fb-ic">-->
            <!--      <i class="fa fa-facebook white-text mr-4"> </i>-->
            <!--    </a>-->
            <!--     Twitter -->
            <!--    <a class="tw-ic">-->
            <!--      <i class="fa fa-twitter white-text mr-4"> </i>-->
            <!--    </a>-->
            <!--     Google +-->
            <!--    <a class="gplus-ic">-->
            <!--      <i class="fa fa-google-plus white-text mr-4"> </i>-->
            <!--    </a>-->
            <!--    Linkedin -->
            <!--    <a class="li-ic">-->
            <!--      <i class="fa fa-linkedin white-text mr-4"> </i>-->
            <!--    </a>-->
            <!--    Instagram-->
            <!--    <a class="ins-ic">-->
            <!--      <i class="fa fa-instagram white-text"> </i>-->
            <!--    </a>-->
    
            <!--  </div>-->
            <!--   Grid column -->
    
            <!--</div>-->
            <!-- Grid row-->
    
          </div>
        </div>
        <br> 
        
         <!--Footer Links -->
        <div class="container text-center text-md-left mt-5">
    
           <!--Grid row -->
          <div class="row mt-3 dark-grey-text">
    
             <!--Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
      
               <!--Content -->
              <h6 class="text-uppercase font-weight-bold">M/S Friends Enterprise</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color:1f282d; ">
              <p>Here we aim for perfection while holding up with the employment integrity.</p>
    
            </div>
             <!--Grid column -->
    
             <!--Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
               <!--Links -->
              <h6 class="text-uppercase font-weight-bold">Associates</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">B.P. Transport</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Balaji Food</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Shantineketan</a>
              </p>
              <!--<p>-->
              <!--  <a class="dark-grey-text" href="#!">Bootstrap Angular</a>-->
              <!--</p>-->
    
            </div>
             <!--Grid column -->
    
             <!--Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
               Links 
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="/register">Application form</a>
              </p>
              <p>
                <a class="dark-grey-text" href="/index">About Us</a>
              </p>
              <!--<p>-->
              <!--  <a class="dark-grey-text" href="#!">Shipping Rates</a>-->
              <!--</p>-->
              <!--<p>-->
              <!--  <a class="dark-grey-text" href="#!">Help</a>-->
              <!--</p>-->
    
            </div>
             <!--Grid column -->
    
             <!--Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
               <!--Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              
              <p>
                <i class="fa fa-home mr-3"></i> Durgapur, WB 713212, India</p>
              <p>
                  
              <p>
                <i class="fa fa-phone mr-3"></i> +91-8768059194</p>
              <p>
                <i class="fa fa-phone mr-3"></i> +91-8231951067</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> <a href="mailto:msfriendsenterprise18@gmail.com">
                      msfriendsenterprise18@gmail.com</a></p>
            </div>
             <!--Grid column -->
          </div>
           <!--Grid row -->
        </div>
         <!--Footer Links -->
         <!--Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© <a href="https://kamalikapoddar.herokuapp.com">Kamalika Poddar</a>
          <!--<a class="dark-grey-text" href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>-->
        </div>
         <!--Copyright -->
        <br>
      </footer>
   <!--Footer -->
 </div>         